html{
    background-color: aquamarine;
}
form{
    border: 3px black solid;
    width:70%;
    margin:auto;
}
li{
    margin-top: 5%;
    border: 2px black dotted;
}
section{
    margin: 15px;
    
}
h1{
    font-size: 70px;
    text-align:center;
    font-family:'Lugrasimo', cursive; 
    
}
h3{
    text-align: center;
}