html
{background-color:#5E503F}
img{
    float: left;
    height:195px;
    width: 300px;
}
h1
{font-family: 'Hind', sans-serif;
text-align: center;
font-size: 50px;
color:white;
}
h3
{ background-color: #D6C2AE;
border-radius: 100px;
font-size: 35px;
font-family: 'Hind', sans-serif;
color: white;
text-align: center;}
a
{font-family: 'Hind', sans-serif;
color:white;
text-align:center;}
p{
    font-family:'Hind', sans-serif;
    font-size: 40px;
    color:white;
    border-style: dotted;
    
}
li{
    font-family: 'Hind', sans-serif;
    font-size: 30px;
    color:white;
    display: inline-block;
    margin-right: 80px;
    
}
footer{
    text-align: center;
}